.font-size__small {
    font-size: 10px;
}
.font-size__medium {
    font-size: 20px;
}
.font-size__large {
    font-size: 30px;
}

.text-align__center {
    text-align: center;
}
.text-align__left {
    text-align: left;
}
.text-align__right {
    text-align: right;
}

